
@{
    ViewData["Title"] = "OrderConfrimation";
}

<div class="breadcrumb-section breadcrumb-bg">
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 text-center">
            <div class="breadcrumb-text">
                <p>Payment is confirmed successfully</p>
                <h1>Thank You!</h1>
            </div>
        </div>
    </div>
</div>
</div>
<script>
        setTimeout(function () {
            window.location.href = "/Home/";
        }, 3000);
    </script>