@model List<Product>

@{
    ViewData["Title"] = "Products";
    Layout = "_MyLayout";
}

@section Links{
    <link rel="stylesheet" href="~/css/css_Shop/style.css"/>
    <link rel="stylesheet" href="~/css/css_Shop/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/css_Shop/fontawesome-all.min.css"/>
}

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Secure & Reliable</p>
                    <h1>Shop</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<section class="popular-items latest-padding">
    <div class="container px-5">
        <div class="tab-content" id="nav-tabContent">
            <!-- card -->
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    @foreach (Product product in Model)
                    {
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                            <div class="single-popular-items mb-50 text-center">
                                <div class="popular-img">
                                    <img style="height:350px" src="@product.Image" alt="">
                                    <div class="img-cap">
                                        <span><a style="color:white; font-size:20px" href="/Product/Details?productId=@product.Id">Details</a></span>
                                    </div>
                                    <div class="favorit-items">
                                        <span class="flaticon-heart"></span>
                                    </div>
                                </div>
                                <div class="popular-caption">
                                    <h3><a href="/Product/Details?productId=@product.Id">@product.Name</a></h3>
                                    <div class="row justify-content-center">
                                        <div class="col-8">
                                            @for (int i = 1; i <= product.Star; i++)
                                            {
                                                <i class="fa-solid fa-star fa-xl" style="color: #f28123; font-size:12px"></i>
                                            }
                                            @for (int i = product.Star + 1; i <= 5; i++)
                                            {
                                                <i class="fa-solid fa-star fa-xl" style="color: #f3dcc8; font-size:12px"></i>
                                            }                                   
                                        </div>
                                        <span class="col-4" style="color:#f28123; display:inline-block">$ @product.ProductItems![0].Price</span>
                                    </div>                                                           
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>                
        </div>
    </div>
</section>


