	<!-- NavBar Start -->
<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<!-- logo -->
					<div class="site-logo">
						<a href="/Home/Index">
							<img src="/Image/img1/logo.png"/>
						</a>
					</div>
					<!-- logo -->
					<!-- menu start -->
					<nav class="main-menu">
						<ul style="display:flex;justify-content:space-between;">
							<div>
							<li class="current-list-item">
								<a href="/Home/Index">Home</a>
								<ul class="sub-menu">
									<li><a href="index.html">Static Home</a></li>
									<li><a href="index_2.html">Slider Home</a></li>
								</ul>
							</li>
							<li><a href="about.html">About</a></li>
							<li>
								<a href="#">Pages</a>
								<ul class="sub-menu">
									<li><a href="404.html">404 page</a></li>
									<li><a href="about.html">About</a></li>
									<li><a href="cart.html">Cart</a></li>
									<li><a href="checkout.html">Check Out</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="news.html">News</a></li>
									<li><a href="/Product/Index">Shop</a></li>
								</ul>
							</li>
							<li>
								<a href="news.html">News</a>
								<ul class="sub-menu">
									<li><a href="news.html">News</a></li>
									<li><a href="single-news.html">Single News</a></li>
								</ul>
							</li>
							<li><a href="contact.html">Contact</a></li>
							<li>
								<a href="/Product/Index?CategoryId=1">Shop</a>
								<ul class="sub-menu">
									<li><a href="shop.html">Shop</a></li>
									<li><a href="checkout.html">Check Out</a></li>
									<li><a href="single-product.html">Single Product</a></li>
									<li><a href="cart.html">Cart</a></li>
								</ul>
							</li>
							</div>
							@if (!User.Identity.IsAuthenticated)
							{
							<div style="display:flex;align-items:center;">
								<li>
									<a class="search-bar-icon header-icons" href="#"><i class="fa-solid fa-calendar-check"></i>  Orders</a>
								</li>
								<li>
									<a class="shopping-cart header-icons" href="/Cart/Index"><i class="fas fa-shopping-cart"></i>  Cart</a>
								</li>
								<li>
									<a class="shopping-cart" href="#"><i class="fa-solid fa-user"></i></a>
									<ul class="sub-menu">
										<li><a href="/User/Update">Profile</a></li>
										<hr style="margin:0px" />
										<li><a href="/Account/logout">Log Out</a></li>
									</ul>
								</li>
							</div>
							}
							else
							{
								<li>
									<div class="header-icons">
										<a class="search-bar-icon" href="/Account/Login">Sing In</a>
										<a class="shopping-cart" href="/Account/Register">Sign Up</a>
									</div>
								</li>
							}
						</ul>
					</nav>
					<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
					<div class="mobile-menu"></div>
					<!-- menu end -->
				</div>
			</div>
		</div>
	</div>
</div>
<!-- NavBar End -->
<!-- search area Start-->
<div class="search-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<span class="close-btn"><i class="fas fa-window-close"></i></span>
				<div class="search-bar">
					<div class="search-bar-tablecell">
						<h3>Search For:</h3>
						<input type="text" placeholder="Keywords">
						<button type="submit">Search <i class="fas fa-search"></i></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- search area End-->