@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "_MyLayout";
}

<!-- CSS Here -->
@section Links{
    <link rel="stylesheet" href="/css/User/UpsertAddress.css" />
}

<div class="row bachground">
    <div class="E-martContent" style="height:650px">
        <h3 class="text-center mb-5" style="color:#F28123">Sign up</h3>
        <form method="post" action="/Account/Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row mb-4">
                <label asp-for="UserName" class="control-label text-uppercase text-white col-4 mt-2"></label>
                <div class="col-8">
                    <div class="E-martInputText">
                        <input asp-for="UserName" class="E-martInputText form-control " />
                        <span class="E-martInputText"></span>
                    </div>
                    <span asp-validation-for="UserName" class="text-danger col-8 align-content-end"></span>
                </div>
            </div>            
            <div class="form-group row mb-4">
                <label asp-for="Password" class="control-label text-uppercase text-white col-4 mt-2"></label>
                <div class="col-8">
                    <div class="E-martInputText">
                        <input asp-for="Password" class="E-martInputText form-control" />
                        <span class="E-martInputText"></span>
                    </div>
                    <span asp-validation-for="Password" class="text-danger col-8 align-content-end"></span>
                </div>
            </div>
            <div class="form-group row mb-4">
                <label asp-for="ConfirmPassword" class="control-label text-uppercase text-white col-4 mt-2"></label>
                <div class="col-8">
                    <div class="E-martInputText">
                        <input asp-for="ConfirmPassword" class="E-martInputText form-control" />
                        <span class="E-martInputText"></span>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger col-8 align-content-end"></span>
                </div>
            </div> 
            <div class="form-group row mb-4">
                <label asp-for="EmailAddress" class="control-label text-uppercase text-white col-4 mt-2"></label>
                <div class="col-8">
                    <div class="E-martInputText">
                        <input asp-for="EmailAddress" class="E-martInputText form-control " />
                        <span class="E-martInputText"></span>
                    </div>
                    <span asp-validation-for="EmailAddress" class="text-danger col-8 align-content-end"></span>
                </div>
            </div>
            <div class="form-group row mb-4">
                <label asp-for="PhoneNumber" class="control-label text-uppercase text-white col-4 mt-2"></label>
                <div class="col-8">
                    <div class="E-martInputText">
                        <input asp-for="PhoneNumber" class="E-martInputText form-control " />
                        <span class="E-martInputText"></span>
                    </div>
                    <span asp-validation-for="PhoneNumber" class="text-danger col-8 align-content-end"></span>
                </div>
            </div>          
            <div class="form-group">
                <input type="submit" value="Sign up" class="E-martButton mb-3 w-100" />
            </div>
        </form>
        <div class="text-uppercase text-white mb-4">Already have an Account? <a style="text-decoration: underline" href="/Account/Login">Sign in.</a></div>
        
        <div class="hr"></div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}





