@model ChangePassword_VM
@{
    ViewData["Title"] = "ChangePassword";
}

@section Links{
    <link rel="stylesheet" href="/css/UserViews.css" />
}
<!-- Text area Start-->
<div class="hero-area hero-bg" style="max-height:35%">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 offset-lg-2 text-center">
                <div class="hero-text">
                    <div class="hero-text-tablecell">
                        @*<p class="subtitle">User Profile</p>*@
                        <h1 style="margin:9rem 0 0 0"><span style="color:#F28123">Hello</span> Moaaz</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Text area End -->
<div class="row userProfile">
    <div class="col-3 SideBar">
        <ul>
            <li >
                <a asp-action="Update"><i class="fa-solid fa-id-card"></i>Profile</a>
            </li>
            <li class="active">
                <a asp-action="ChangePassword"><i class="fa-solid fa-lock"></i>Change Password</a>
            </li>
            <li>
                <a asp-action="UpsertAddress"><i class="fa-solid fa-location-dot"></i>Add Address</a>
            </li>
        </ul>
    </div>
    <div class="col-9" id="changableContent">
        <form method="post" action="/User/ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="OldPassword" class="control-label col-lg-2 col-sm-12"></label>
                <div class="col-lg-10 col-sm-12">
                    <input asp-for="OldPassword" class="form-control" />
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="NewPassword" class="control-label col-lg-2 col-sm-12"></label>
                <div class="col-lg-10 col-sm-12">
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ConfirmPassword" class="control-label col-lg-2 col-sm-12"></label>
                <div class="col-lg-10 col-sm-12">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Changes" class="bordered-btn black" />
                <a onclick="CancelChangingPassword()" class="bordered-btn black">Cancel</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

